<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Can Dien Tu Chinh Tam</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div id="wrapper">
	
    <div id="header">
    </div><!--End header-->
    
    <div id="menu_top">
    	<div class="top_left"></div>
        <div class="top_middle">
        	<img src="images/s5_home_icon.png" style="margin:15px 5px 0px 10px; float:left;"/>
            <ul id="nav_top">
            	<li><a href="#">cân chính tâm</a></li>
                <li><a href="#">giới thiệu</a></li>
                <li><a href="#">khuyến mãi</a></li>
                <li><a href="#">dịch vụ</a></li>
                <li><a href="#">tin tức</a></li>
                <li><a href="#">kiến thức tiêu dùng</a></li>
                <li><a href="#">đối tác</a></li>
                <li><a href="#">liên hệ</a></li>
            </ul>
        </div>
        <div class="top_right"></div>
    </div><!--End menu top-->
    
    <div id="container">
    	<div id="left">
        	<div class="seo_breab">Cân chính tâm - Can dien tu - Mua bán cân điện tử - Sửa chữa cân điện tử - Can thuy san - Can oto</div>
            
            <div id="area_product">
            	<div class="heading_title">cân bàn</div>
                <div class="product_list">
                	<div style="float:left; margin-bottom:10px;">
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                    </div>
                    <div style="float:left;">
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                    </div>
                    
                    
                </div><!--End product list-->
                <div class="product_list_bottom"></div>
            </div><!--End area product-->
            
            <div id="area_product">
            	<div class="heading_title">cân kỹ thuật</div>
                <div class="product_list">
                	<div style="float:left; margin-bottom:10px;">
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                    </div>
                    <div style="float:left;">
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                    </div>
                    
                    
                </div><!--End product list-->
                <div class="product_list_bottom"></div>
            </div><!--End area product-->
            
            <div id="area_product">
            	<div class="heading_title">cân thông dụng</div>
                <div class="product_list">
                	<div style="float:left; margin-bottom:10px;">
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                    </div>
                    <div style="float:left;">
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                        <div class="box_pro">
                            <div class="pro_title"><a href="#" title="ádasdasds">Cân băng tải định lượng</a></div>
                            <div class="pro_image"><img src="images/can-chiet-gas-150kg_145_145.jpg"/></div>
                            <div class="pro_cart_detail"><a href="#" title="Mua hang">Mua hàng</a> | <a href="#" title="Chi tiet">Chi tiết</a></div>
                        </div>
                    </div>
                    
                    
                </div><!--End product list-->
                <div class="product_list_bottom"></div>
            </div><!--End area product-->
            
            
        </div><!--End left-->
        
        <div id="right">
        	<div id="block_search">
            	<div style="margin:5px 13px 0px 10px; float:left;"><a href="javascript:void(0);" title="Nhấn để tìm"><img src="images/system_search.png" width="22" height="22" border="0"/></a></div>
                <div style="float:left;"><input type="text" id="keyword" value="Nhập từ cần tìm" style="width:140px; border:none; border:0; margin-top:8px; color:#a18e8e; font-size:11px;"/></div>
            </div><!--End block search-->
            
            <div id="block_category">
            	<div class="category_title">Danh mục sản phẩm</div>
                <div class="category_list">
                	<ul id="list_cat">
                    	<li><a href="#" title="can can can">Cân thủy sản</a></li>
                        <li><a href="#" title="can can can">Cân thủy sản</a></li>
                        <li><a href="#" title="can can can">Cân thủy sản</a></li>
                        <li><a href="#" title="can can can">Cân thủy sản</a></li>
                        <li><a href="#" title="can can can">Cân thủy sản</a></li>
                        <li><a href="#" title="can can can">Cân thủy sản</a></li>
                        <li><a href="#" title="can can can">Cân thủy sản</a></li>
                        <li><a href="#" title="can can can">Cân thủy sản</a></li>
                        <li><a href="#" title="can can can">Cân thủy sản</a></li>
                        <li><a href="#" title="can can can">Cân thủy sản</a></li>
                        <li><a href="#" title="can can can">Cân thủy sản</a></li>
                    </ul>
                </div>
                <div class="category_bottom"></div>
            </div><!--End block category-->
            
            <div id="block_category">
            	<div class="category_title">tin tức</div>
                <div class="category_list">
                	<ul id="list_news">
                    	<li>
                        	<span style="float:left;"><a href="#" title="can can can" style="color:#662693; font-weight:bold;">Sử dụng cân điện tử để tìm ra xe chở quá tải</a></span>
                            <div style="float:left;">
                            	<img src="images/quatai_50_50.jpg" style="float:left; border:1px solid #cccccc; margin-right:7px;"/>
                                Thanh tra Sở Giao thông vận tải TP HCM vừa đưa vào sử dụng một loại cân... 
                            </div>
                        </li>
                        <li>
                        	<span style="float:left;"><a href="#" title="can can can" style="color:#662693; font-weight:bold;">Sử dụng cân điện tử để tìm ra xe chở quá tải</a></span>
                            <div style="float:left;">
                            	<img src="images/quatai_50_50.jpg" style="float:left; border:1px solid #cccccc; margin-right:7px;"/>
                                Thanh tra Sở Giao thông vận tải TP HCM vừa đưa vào sử dụng một loại cân... 
                            </div>
                        </li>
                        <li>
                        	<span  style="float:left;"><a href="#" title="can can can" style="color:#662693; font-weight:bold;">Sử dụng cân điện tử để tìm ra xe chở quá tải</a></span>
                            <div style="float:left;">
                            	<img src="images/quatai_50_50.jpg" style="float:left; border:1px solid #cccccc; margin-right:7px;"/>
                                Thanh tra Sở Giao thông vận tải TP HCM vừa đưa vào sử dụng một loại cân... 
                            </div>
                        </li>
                    </ul>
                    <div class="more" style="float:left; text-align:right; width:168px; font-size:11px; font-weight:bold;"><img src="images/arrow.png"/> <a href="#" title="Xem thêm">Xem thêm</a></div>
                </div>
                <div class="category_bottom"></div>
            </div><!--End block news-->
            
            <div id="block_category">
            	<div class="category_title">kiến thức tiêu dùng</div>
                <div class="category_list">
                	<ul id="list_news">
                    	<li>
                        	<span style="float:left;"><a href="#" title="can can can" style="color:#662693; font-weight:bold;">Sử dụng cân điện tử để tìm ra xe chở quá tải</a></span>
                            <div style="float:left;">
                            	<img src="images/quatai_50_50.jpg" style="float:left; border:1px solid #cccccc; margin-right:7px;"/>
                                Thanh tra Sở Giao thông vận tải TP HCM vừa đưa vào sử dụng một loại cân... 
                            </div>
                        </li>
                        <li>
                        	<span style="float:left;"><a href="#" title="can can can" style="color:#662693; font-weight:bold;">Sử dụng cân điện tử để tìm ra xe chở quá tải</a></span>
                            <div style="float:left;">
                            	<img src="images/quatai_50_50.jpg" style="float:left; border:1px solid #cccccc; margin-right:7px;"/>
                                Thanh tra Sở Giao thông vận tải TP HCM vừa đưa vào sử dụng một loại cân... 
                            </div>
                        </li>
                        <li>
                        	<span  style="float:left;"><a href="#" title="can can can" style="color:#662693; font-weight:bold;">Sử dụng cân điện tử để tìm ra xe chở quá tải</a></span>
                            <div style="float:left;">
                            	<img src="images/quatai_50_50.jpg" style="float:left; border:1px solid #cccccc; margin-right:7px;"/>
                                Thanh tra Sở Giao thông vận tải TP HCM vừa đưa vào sử dụng một loại cân... 
                            </div>
                        </li>
                    </ul>
                    <div class="more" style="float:left; text-align:right; width:168px; font-size:11px; font-weight:bold;"><img src="images/arrow.png"/> <a href="#" title="Xem thêm">Xem thêm</a></div>
                </div>
                <div class="category_bottom"></div>
            </div><!--End block Kien thuc tieu dung-->
            	
        </div><!--End right-->
        
    </div><!--End div-->
    
    
    
</div><!--End wrapper-->
<div id="footer">
	<div class="footer_content">
    	<div class="content_left" style="float:left; width:696px; margin-right:10px;">
        	<p style="font-weight:bold; color:#ffffff;"><span style="color:#fff310;">Copyright &copy; 2011. Cty TNHH Cân Điện Tử Chính Tâm</span> - Mua bán cân điện tử - Sửa chữa bảo trì các loại cân điện tử</p>
            <p style="color:#c0c0b8; font-weight:bold;">102/4 Trường Chinh - P.Tân Thới - Q.12 - TP.HCM</p>
            <p style="color:#c0c0b8; font-weight:bold;">Hotline: 0918.620.484 or 0918.506.419 Mr Hồng Quy</p>
        </div>
        <div style="float:left; color:#c0c0b8;">
        	Đang online: 10<br />
            Tổng lượt truy cập: 100<br />
            <a href="http://nettina.linkpc.net"><img src="images/logo_tinadesign.png" border="0" /></a>
        </div>
    </div>
</div><!--End footer-->



</body>
</html>
